<header class="site-header">
  <div class="container">

    <h1 class="site-title">Simple Blog Demo</h1>
    <nav class="site-header__navigation">
      <ul class="navigation">
        <li><a routerLink="/">All Articles</a></li>
        <li><a routerLink="/articles/create">Add new</a></li>
        <li><a routerLink="/account/login" *ngIf="!user">Login</a></li>
        <li><a (click)="logout()" *ngIf="user" href="javascript:">Logout</a></li>
      </ul>
    </nav>
  </div>

</header>

<div class="container">
  <router-outlet></router-outlet>
</div>


