/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Poppins', sans-serif;
  background: #f9f9f9;
  font-size: 16px;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #2e6cff;
  &:hover {
    color:#65cca7;
  }
}

.button {
  font-family: "Poppins", Sans-Serif;
  background: #2e6cff;
  border: none;
  border-radius: 25px;
  padding: 0.5rem 2rem;
  margin: 0 1rem;
  color: white;
  &:focus {
    outline: none;
  }
  &:hover {
    background: darken(#2e6cff,10);
    cursor: pointer
  }

  &--danger {
    background: #cc1e00;
    &:hover {
      background: darken(#cc1e00,5);
    }
  }
}
.form-group {
  display: flex;
  flex-direction: column;
}
.form-control {
  &:focus {
    outline: none;
  }
  border-radius: 5px;
  border: 1px solid #ccc;
  min-height: 32px;
  font-size: 1em;
  font-family: "Poppins", Sans-Serif;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}
